/* ====== MAIN ====== */

:root {
    touch-action: pan-x pan-y;
    height: 100% 
}
body {
    font-family: 'Circular Std Book', sans-serif;
    font-weight: normal;
    font-size: 15px;
    background: #fff;
    color: #333;
}
body * {
    box-sizing: border-box;
}
.desktop {  display: none; }
.mobile { display: block; }
@media (min-width: 768px) { /* bootstrap-md (Medium) */
    .desktop { display: block; }
    .mobile  { display: none; }
}
.anchor {
    width: 1px;
    height: 1px;
    margin-bottom: -1px;
    opacity: 0;
}
.s0cial a:hover img {
    transition: 0.2s transform;
}
.s0cial a:hover img {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: #36b;
}
a:hover {
    text-decoration: underline;
    color: #58d;
}

/* ====== ALERT ===== */
.alert-body {
    padding: 18px;
    text-align: center;
}
.alert-footer {
    padding: 12px 20px 12px 20px;
    text-align: center;
}
.alert-footer .spacer {
    width: 20px;
    height: 10px;
    display: inline-block;
}
.alert-footer button {
    width: 100px;
}

/* ====== NAVBAR ====== */

#navbar {
    user-select: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    font-weight: 500;
    font-family: 'Circular Std', sans-serif;
}
#navbar .logo {
    display: inline-block;
}
#navbar .desktop, 
#navbar .desktop > table,
#navbar .mobile, 
#navbar .mobile > table {
    width: 100%;
    
}
#navbar .desktop , 
#navbar .mobile {
    border-bottom: 1px solid #ccc;
    transition: 0.5s border; 
}
#navbar.slided .mobile {
    border-bottom: 1px solid #fff; 
}
#navbar .desktop .c-logo {
    width: 1px;
}
#navbar .desktop .c-links > div {
    width: 100%;
    overflow-x: auto;
}

#navbar .desktop [class|=c] {
    height: 50px;
    vertical-align: middle;
}
#navbar .desktop .c-logo img {
    width: 128px;
    margin: 3px 16px 0 18px;
}
#navbar .desktop .c-links a {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding: 12px 6px 12px 6px;
}
#navbar:after {
    content: '';
    position: fixed;
    top: -1px;
    height: 1px;
    width: 100%;
    background-color: #000; 
}
#navbar .desktop .c-links a:hover {
    color: #58d;
}
#navbar .desktop .c-s0cial {
    width: 1px;
}
#navbar .desktop .c-s0cial a img {
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-bottom: -5px;
    transition: 0.2s transform;
}
#navbar .desktop .c-s0cial > table {
    margin-right: 12px;
}
#navbar .desktop .c-s0cial a:hover img {
    transform: scale(1.2);
}

#navbar .desktop > table { 
    max-width: 1200px; 
    margin: 0 auto 0 auto;
}
#navbar .mobile { 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 3; 
    background: #fff; 
}

#navbar .hamburger {
    background: #fff;
    width: 68px;
    height: 53px;
    position: relative;
    cursor: pointer;
}
#navbar .hamburger [class|=l] {
    height: 3px;
    background: #237;
    width: 33px;
    position: absolute;
    left: 16px;
}
#navbar .hamburger .l-0 { top: 17px; transition: all 0.5s ease; }
#navbar .hamburger .l-1 { top: 25px; transition: all 0.5s ease; }
#navbar .hamburger .l-2 { top: 33px; transition: all 0.5s ease; }
#navbar .hamburger.active .l-0 { 
    transform: translate(0px, 8px) rotate( 45deg) scaleX(1.2); 
}
#navbar .hamburger.active .l-1 { 
    transform: translate(0px, 0px) rotate(150deg) scaleX(1.2); 
    opacity: 0; 
}
#navbar .hamburger.active .l-2 { 
    transform: translate(0px,-8px) rotate(-45deg) scaleX(1.2); 
}
#navbar .mobile .c-hamburger, 
#navbar .mobile .c-right {
    width: 68px;
} 
#navbar .mobile .c-logo {
    text-align: center;;
}
#navbar .mobile .c-logo img {
    height: 38px;
    margin-top: 2px;
}
#navbar .slider .c-links a {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding: 18px 6px 18px 21px;
}
#navbar .slider .c-links {
    margin: 8px 0 18px 0;
}
#navbar .slider {
    position: fixed;
    top: 58px;
    width: 100%;
    pointer-events: none;
    z-index: 2;
}
#navbar .slider a {
    opacity: 0;
    transition: 0.15s opacity;
}
#navbar .slider.active a {
    transition: 0.3s opacity;   
}
#navbar .slider.active a:hover {
    color: #58d;
}
#navbar .slider .bg {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: translateY(-50%) scale(1, 0.000001);
    transition: 0.5s transform;
    top: 0;
}
#navbar .slider.active .bg {
    transition: 0.5s transform;
    transform: translate(0%) scale(1, 1);
}
#navbar .slider.active {
    pointer-events: auto;
}
#navbar .slider .overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -2;
    transition: 0.5s opacity;
}
#navbar .slider.active .overlay {
    opacity: 0.5;
}

#navbar .slider .c-s0cial {
    padding: 15px 6px 20px 18px; 
}
#navbar .slider .c-s0cial img {
    width: 50px;
    height: 50px;
    padding: 0 22px 0 0;
}
.c-s0cial {
    display: none;
}

/* ====== PAGES ====== */

#pages {
    width: 100%;
    margin-top: 88px;
}

@media (min-width: 768px) { /* bootstrap-md (Medium) */
    #pages { margin-top: 76px; }
}

input[type=text] {
    appearance: none; -mox-appearance: none; -webdit-appearance: none;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
    border: 2px solid #8ad;
    border-radius: 5px;
    outline: none; 
    transition: 0.2s all;
}
input[type=text]:hover {
    border: 2px solid #79c;
    -webkit-box-shadow: 0px 0px 5px 0px #ace;
    box-shadow: 0px 0px 5px 0px #ace;
} 
input[type=text]:focus {
    border: 2px solid #58d;
    -webkit-box-shadow: 0px 0px 5px 0px #58d;
    box-shadow: 0px 0px 5px 0px #58d;
}
button {
    font-size: 15px; 
    color: #fff;
    border-radius: 5px;
    background: #36b;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: normal;
    transition: 0.2s all;
}
button:hover {
    background: #25a;
    -webkit-box-shadow: 0px 0px 5px 0px #58d;
    box-shadow: 0px 0px 5px 0px #58d;
} 
button.green {
    background: #3b8;
    transition: 0.2s all;
}
button.green:hover {
    background: #2a7;
    -webkit-box-shadow: 0px 0px 5px 0px #5da;
    box-shadow: 0px 0px 5px 0px #5da;
}
button.gray {
    background: #555;
    transition: 0.2s all;
}
button.gray:hover {
    background: #333;
    -webkit-box-shadow: 0px 0px 5px 0px #555;
    box-shadow: 0px 0px 5px 0px #555;
}
button.light {
    background: #ccc;
    transition: 0.2s all;
    color: #000;
}
button.light:hover {
    color: #000;
    background: #bbb;
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
}

button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}
select {
    padding: 6px 36px 6px 12px;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #8ad;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    -moz-outline-style: none; -webkit-outline-style: none; outline-style: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 12px;
    cursor: pointer;
    color: #333;
    font-family: inherit;
    font-size: inherit;
    font-size: 15px;
}
select::-ms-expand {
    display: none;
}
select:hover {
    border: none;
    border-bottom: 2px solid #79c;
}
select:focus {
    border: none;
    border-bottom: 2px solid #58d;
}


.wallet {
    font-weight: 500;
    font-family: 'Circular Std', sans-serif;
    text-align: center;
}
.wallet .info {
    opacity: 0.5;
    transition: 0.2s opacity;
    padding: 18px 6px 18px 6px;
    margin: -12px 0 -12px 0;
}
.wallet .info.unconnected {
    opacity: 0.5;
    cursor: pointer;
}
.wallet .info.unconnected:hover {
    opacity: 1;
}
.page .content {
    max-width: 1200px;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

