/* ====== MINT ====== */

.page[path=mint] .form {
    max-width: 500px;
    margin: 0 auto;
}
.page[path=mint] .f-row {
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #ccc; 
}
.page[path=mint] .label {
    font-size: 18px;
} 
.page[path=mint] .error {
    font-size: 13px;
    color: #f22;
    padding: 0 0 6px 0;
    display: none;
}
.page[path=mint] input[type=text] {
    width: 100%;
}
.page[path=mint] .field {
    padding: 6px 0 6px 0;
}
.page[path=mint] .description {
    font-size: 15px;
    line-height: 1.3;
    display: none;
}
.page[path=mint] .help {
    float: right;
    display: block;
    width: 28px;
    height: 32px;
    margin-top: -9px;
    cursor: pointer;
}
.page[path=mint] .help > div {
    width: 22px;
    height: 22px;
    font-size: 13px;
    color: #999;
    padding: 2px;
    margin: 8px 0 0 6px;
    text-align: center;
    border-radius: 11px;
    border: 2px solid #999;
    transition: 0.2s all;
    user-select: none;
}
.page[path=mint] .help:hover > div, 
.page[path=mint] .help.active > div {
    border: 2px solid #555;
    color: #555;
}

.page[path=mint] .notice {
    padding: 12px 0 12px 0;
}
.page[path=mint] button {
    width: 100%;
    margin-bottom: 12px;
}
.page[path=mint] .note {
    text-align: right;
    font-style: italic;
    font-size: 13px;
    color: #666;
    margin-top: 12px;
}
@media (min-width: 768px) { /* bootstrap-md (Medium) */
    .page[path=mint] .note { margin-top: 0 }
}

.page[path=mint] .contract-link {
    padding: 36px 6px 0px 6px;
    font-size: 13px;
    text-align: center;
}
.page[path=mint] .contract-link a {
    opacity: 0.5;
    color: #333;
    text-decoration: none;
}
.page[path=mint] .contract-link a:hover {
    opacity: 1;
}