[Unit]
Description=api

[Service]
Type=simple
Restart=on-failure
RestartSec=10
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitNICE=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
WorkingDirectory=/root/chainrand/api
ExecStart=/root/chainrand/api/api

[Install]
WantedBy=multi-user.target